{% extends "homebase.html" %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="/category/{{product.category_id}}/{{product.slug}}">{{product.category}}</a></li>
				<li class="active">{{product.title}}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

    <!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								<img src="{{product.image.url}}" alt="">
							</div>
							{% for rs in images %}
							<div class="product-view">
								<img src="{{ rs.image.url }}" alt="">
							</div>
							{% endfor %}
						</div>
						<div id="product-view">
							<div class="product-view">
								<img src="{{product.image.url}}" alt="">
							</div>
							{% for rs in images %}
							<div class="product-view">
								<img src="{{ rs.image.url }}" alt="">
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							{% if messages %}
								{% for message in messages %}
									<div class="'alert alert-{{message.tags}}" role="alert">
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
							<h2 class="product-name">{{product.title}}</h2>
							<h3 class="product-price">TRY {{product.price}}</h3>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
								<a href="#">3 Review(s) / Add Review</a>
							</div>
							{% if s == False %}
							<p><strong>Availability:</strong> Stokta Yok </p>
							{% else %}
							<p><strong>Availability:</strong> Stokta Var </p>
							{% endif %}
							<p><strong>Brand:</strong> {{product.brand}}</p>
							<div class="product-options">
								<ul class="size-option">
									<li><span class="text-uppercase">Size:</span></li>
									<li class="active"><a href="#">S</a></li>
									<li><a href="#">XL</a></li>
									<li><a href="#">SL</a></li>
								</ul>
								<ul class="color-option">
									<li><span class="text-uppercase">Color:</span></li>
									<li class="active"><a href="#" style="background-color:#475984;"></a></li>
									<li><a href="#" style="background-color:#8A2454;"></a></li>
									<li><a href="#" style="background-color:#BF6989;"></a></li>
									<li><a href="#" style="background-color:#9A54D8;"></a></li>
								</ul>
							</div>

							<div class="product-btns">

								<form action="/order/addtocart/{{product.id}}/{{product.slug}}" method="post">
									{% csrf_token %}
									<div class="qty-input">
										<span class="text-uppercase">Adet: </span>
										<input name="quantity" class="input" type="number" min="0" max="{{product.amount}}" value="1">
									</div>
									<button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}