<!-- HOME -->
{% load static %}
<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">

					<!-- banner -->
					{% for rs in sliderdata %}
					<div class="banner banner-1">
						<img src="{{ rs.image.url }}" alt="">
						<div class="banner-caption text-center">
							<h1 class="blue-color">{{ rs.title }}</h1>
							<a href="/category/{{ rs.id }}/{{ rs.slug }}" class="primary-btn">İncele</a>
						</div>
					</div>
					{% endfor %}
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
<!-- /HOME -->